{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <!-- Кнопки -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Профіль</h2>
        <a href="{% url 'menu' %}" class="btn btn-primary">Меню</a>
    </div>

    <div class="card p-4 mb-4">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <div class="mt-4">
        <h4>Мої замовлення</h4>

        <div class="mt-4">
    <h4>Мої замовлення</h4>

    {% for order in orders %}
        <div class="card p-3 mb-2">
            <p><strong>Замовлення #{{ order.id }}</strong></p>
            <p>Сума: {{ order.total_price }} грн</p>
            <p>Дата: {{ order.created_at }}</p>
        </div>
    {% empty %}
        <p>Поки що немає замовлень</p>
    {% endfor %}
</div>

</div>
{% endblock %}