{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 900px;">
    <h2>Меню</h2>

    {% for category in categories %}
        <h3 class="mt-4">{{ category.name }}</h3>

        <div class="row">
            {% for dish in category.dishes.all %}
                <div class="col-md-4">
                    <div class="card p-3 mb-3">

                        <a href="{% url 'dish_detail' dish.id %}">
                            <h5>{{ dish.name }}</h5>
                        </a>

                        {% if dish.image %}
                            <img src="{{ dish.image.url }}" class="img-fluid mb-2">
                        {% endif %}

                        <p>{{ dish.description }}</p>
                        <strong>{{ dish.price }} грн</strong>

                        <form method="post" action="{% url 'add_to_cart' dish.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success mt-2 w-100">
                                В кошик
                            </button>
                        </form>

                        <a href="{% url 'like' dish.id %}" class="btn btn-outline-danger mt-2 w-100">
                            ❤️ {{ dish.likes.count }}
                        </a>

                    </div>
                </div>
            {% empty %}
                <p>Немає страв</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}